* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    width: 1592px;
    margin: 0 auto;
    font-family: "Poppins", serif;
}

.d-b {
    display: block;
}

.d-f {
    display: flex;
}

.jc-sb {
    justify-content: space-between;
}

.jc-sa {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.d-n {
    display: none;
}

.d-b {
    display: block;
}

.pos-r {
    position: relative;
}

.btn-clear {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.cur-p {
    cursor: pointer;
}

:root {
    --text: #22262A;
    --white: #FFF;
    --black: #000;
    --red: #CF2929;
    --grey: #C4C4C4;

}

.header-wr {
    position: fixed;
}

.header {
    padding-top: 20px;
    padding-bottom: 21px;
    padding-left: 229px;
    padding-right: 235px;
}

.header-nav {
    list-style-type: none;
    gap: 30px;
}

.header-nav-item {
    font-size: 18px;
    text-transform: uppercase;
    color: var(--text);

    a {
        color: var(--text);

        &:hover {
            color: var(--red);
        }
    }
}

.header-actions {
    gap: 30px;
}

.home-main {
    padding-top: 426px;
    padding-bottom: 101px;
    padding-left: 909px;
    background: url("/images/home-main-bg.png") no-repeat;
    color: var(--text);
}

.home-main-above,
.home-tachen-above {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;

}

.home-main-title,
.home-tachen-title {
    font-size: 80px;
    text-transform: uppercase;
    color: var(--text);
}

.home-main-desc {
    font-weight: 500;
    font-size: 18px;
}

.home-main-actions {
    margin-top: 27px;
    gap: 34px;
}

.home-main-link {
    width: 147px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: var(--text);
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
}

.home-media {
    margin-top: 121px;
    margin-left: 230px;
    margin-right: 228px;
    flex-wrap: wrap;
    column-gap: 31px;
}

.home-media>div:nth-child(2) {
    flex-shrink: 0;
}

.home-media>div:nth-child(3),
.home-media>div:nth-child(4) {
    margin-top: -277px;
}

.page-bl-title {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: var(--text);
}

.page-bl-desc {
    margin-top: 15px;
    font-size: 15px;
    text-align: center;
    color: var(--text);
}

.home-women,
.home-men {
    margin-top: 111px;
}

.home-women-box,
.home-men-box {
    margin-top: 60px;
    margin-left: 226px;
    gap: 22px;
}

.home-women-item,
.home-men-item {
    width: 268px;
    font-size: 15px;
    color: var(--text);
}

.home-women-item .women-item-cat,
.home-men-item .men-item-cat {
    margin-top: 31px;
    font-weight: 300;
    text-transform: uppercase;
}

.home-women-item .women-item-title,
.home-men-item .men-item-title {
    margin-top: 3px;
    font-weight: 600;
    text-transform: uppercase;
}

.home-women-item .prices,
.home-men-item .prices {
    margin-top: 3px;
    gap: 30px;
}

.home-women-item .prices .prices-old,
.home-men-item .prices .prices-old {
    text-decoration: line-through;
}

.home-women-item .prices .prices-current,
.home-men-item .prices .prices-current {
    color: var(--red);
}

.home-styles {
    margin-top: 110px;
}

.home-styles-box {
    margin-top: 60px;
    margin-left: 230px;
    gap: 29px;
}

.home-styles-show {
    display: block;
    width: fit-content;
    height: fit-content;
    margin-top: 217px;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--text);
    font-size: 15px;
    text-transform: uppercase;
    color: var(--text);
    flex-shrink: 0;
}

.home-styles-box>div:nth-child(1) {
    margin-top: 87px;
}

.home-styles-box>div:nth-child(2)>div:nth-child(2) {
    position: absolute;
    top: 408px;
    left: 153px;
    gap: 33px;
}

.home-tachen {
    margin-top: 121px;
    padding-top: 434px;
    padding-bottom: 123px;
    padding-left: 230px;
    background: url('/images/home-tachen-bg.png') no-repeat;
    color: var(--text);
}

.home-tachen-link {
    display: block;
    width: 214px;
    margin-top: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: var(--text);
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
}

.footer-bar {
    padding-top: 115px;
    padding-bottom: 106px;
    padding-left: 230px;
    padding-right: 229px;
    background-color: #F2F8FC;
    font-size: 15px;
    color: var(--text);
}

.footer-logo {
    margin-left: -20px;
}

.footer-desc {
    max-width: 406px;
    margin-top: -30px;

}

.footer-location {
    margin-top: 41px;
    padding-left: 32px;
    background: url("/images/location.png") no-repeat;
    background-position-y: center;
}

.footer-email {
    display: block;
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--text);
    color: var(--text);
}

.footer-phone {
    display: block;
    margin-top: 4px;
    color: var(--text);
}

.footer-social {
    margin-top: 16px;
    gap: 20px;
}

.footer-updates-title {
    font-size: 25px;
    text-transform: uppercase;
    color: var(--text);
}

.footer-updates-fm {
    width: 532px;
    margin-top: 24px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 24px;
    background-color: var(--white);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.07);
    border-radius: 5px;

    input {
        width: 80%;
        border: none;
        outline: none;
        font-size: 15px;
        color: var(--text);

        &::placeholder {
            color: var(--text);
        }
    }

    button {
        margin-left: 30px;
        font-weight: 600;
        font-size: 15px;
        text-transform: uppercase;
        color: var(--text);
    }
}

.footer-menu {
    margin-top: 70px;
}

.footer-bl-title {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--text);
}

.footer-bl-list {
    list-style-type: none;
    margin-top: 27px;

    li {
        margin-bottom: 21px;
        font-size: 15px;
        color: var(--text);

        a {
            color: var(--text);

            &:hover {
                color: var(--red);
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.footer-copyrights {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #E7F5F8;
    font-size: 15px;
    text-align: center;
    color: var(--text);
}
   